# cp config.example config && edit TARGET_MIC, then ./install.sh
#
# List devices:  SwitchAudioSource -t input -a
# Current input: SwitchAudioSource -t input -c

TARGET_MIC="Built-in Microphone"
POLL_SECONDS=15
